@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

h1,
h2,
h3,
h4,
h5,
body {
  font-family: $f-body;
  font-weight: 600;
  color: $c-fonts;
}

body {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
}

span {
  font-size: 18px;
  letter-spacing: 0.36px;
}

h1 {
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.84px;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.6px;
}

h4 {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.52px;
}

h5 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.48px;
}